@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap');

@import "./../../vendor/bootstrap/scss/functions";
@import "./../../vendor/bootstrap/scss/variables";

$primary-color: #0cad8d;
$dark-color: #303030;
$gray-color: #4f4f4f;
$enable-shadows: true;
$primary: #0cad8d;
$theme-colors: ("primary": #0cad8d);

@import "./../../vendor/bootstrap/scss/bootstrap";