@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root{
    --primary-color: #0cad8d;
    --dark-color: #303030;
    --gray-color: #4f4f4f;
    --light-gray-color: #caddd7;
}
/* global styles */
.section-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    color: var(--primary-color);
}
.btn{
    display: inline-block;
    padding: 1.2rem 4rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: .4rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 6PX 12px rgba(0, 0, 0, 0.1);
}
.toastify{
    font-size: 1.2rem;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group .error{
    color: red;
    font-size: 1rem;
}
figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.wrapper{
    min-height: 100vh;
}
.container{
    padding-left: 10rem;
    padding-right: 10rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray-color);
    position: relative;
}
.nav-link:after{
    display: inline-block;
    content: "";
    background-color: var(--primary-color);
    height: 0.3rem;
    width: 100%;
    left: 0;
    position: absolute;
    top: 2.5rem;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-link:hover{
    color: var(--primary-color);
}
.nav-link:hover:after{
    opacity: 1;
}

.nav-logo {
    font-size: 3.1rem;
    font-weight: 600;
    color: var(--primary-color);
}
/* home section */
#home{
    background-image: url('/assets/img/wav.svg');
    background-size: cover;
    margin-top: 14rem;
}
.home{
    display: flex;
    gap: 12rem;
}
.home__hello{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.home__description span{
    font-size: 2.5rem;
}
.home__name{
    font-size: 4rem;
    color: var(--primary-color);
}
.home__description{
    font-size: 1.5rem;
    color: var(--gray-color);
    line-height: 2.5rem;
}
.home__image-box{
    display: flex;
}
.home__image{
    width: 100%;
    height: auto;
}
.home__btn:hover{
    color: var(--primary-color);
    background-color: white;
}
/* about section */
.about__content{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.about__img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}
.about__name{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.about__name span{
    color: var(--primary-color);
}
.about__text{
    font-size: 1.5rem;
    color: var(--gray-color);
    line-height: 2.5rem;
}
/* Skills section */
.skills__content{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.skills__description ul li{
    font-size: 1.5rem;
    color: var(--gray-color);
    line-height: 2.5rem;
}
.skills__subtile{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}
.skills__text{
    font-size: 1.5rem;
    color: var(--gray-color);
    line-height: 2.5rem;
}
.skills__img-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.skills__img{
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Works section */
.works__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4rem;
}
.works__content img{
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.work-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-box p{
    font-size: 1rem;
    color: var(--dark-color);
}
/* contact section */
.contact__content{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}
.contact__subtile{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
}
.contact__text{
    font-size: 1.5rem;
    color: var(--gray-color);
    line-height: 2.5rem;
}
.contact__adresses{
    margin-top: 4rem;
}
.contact__item{
    display: flex;
    line-height: 2rem;
    margin-bottom: 1rem;
    gap: 2rem;
    align-items: center;
}
.contact__item i{
    font-size: 2.5rem;
    color: var(--primary-color);
}
.contact__item h4{
    font-size: 1.2rem;
}
.contact__item p{
    font-size: 1.2rem;
}
.contact__form input, .contact__form textarea{
    padding: 1rem 2rem;
    margin: 1rem auto;
    color: var(--primary-color);
}
.contact__form input.is-invalid, .contact__form textarea.is-invalid{
    border: 1px solid red;
}
.contact__form input:focus, .contact__form textarea:focus{
    outline: var(--primary-color);
}
.contact__form input.block, .contact__form textarea.block{
    display: block;
    width: 100%;
}
.contact__form .inline-inputs{
    display: flex;
    gap: 1rem;
}
.contact__form textarea{
    resize: none;
}
/* footer */
#footer{
    background-color: var(--primary-color);
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    color: white;
    font-size: 1.2rem;
}
#footer span{
    color: var(--dark-color);
}
.footer__socials{
    display: flex;
    align-items: center;
}
.social__icons{
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
}
.social__icons .fab{
    font-size: 2rem;
    color: white;
}
/* for medium screen */
@media only screen and (max-width: 992px) {
    .home__image-box{
        justify-content: center;
        align-items: center;
    }
    
}
/* for mobile */
@media only screen and (max-width: 768px) {
    .container{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #home{
        flex-direction: column;
        gap: 1rem;
        margin-top: 4rem;
    }
    .home__presentation{
        margin-bottom: 5rem;
    }
    .home__image-box{
        margin-top: 5rem;
    }
    .home__image{
        width: 80%;

    }
    .about__content{
        flex-direction: column;
        align-items: center;
    }
    .about__img{
        border-radius: 50%;
        width: 50%;
        display: block;
        margin: auto;
    }
    .skills__content{
        flex-direction: column;
        gap: 5rem;
    }
    .skill__tecnos figure img{
        margin-bottom: 2rem;
    }
    .works__content{
        grid-gap: 2rem;
    }
    .contact__content{
        flex-direction: column;
        gap: 5rem;
    }
    .contact__item div{
        margin-left: 2rem;
    }
    .contact__form .inline-inputs{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .input{
        width: 100%;
    }
    #footer{
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }
    .social__icons{
        gap: 3rem;
    }
    .social__icons a{
        display: inline-block;
        margin-left: 1rem;
    }

}

/* ol list design */

ol.gradient-list > li, ol.gradient-list > li::before {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}
ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    font-size: 1.5rem;
}
ol.gradient-list > li::before, ol.gradient-list > li::after {
    background: linear-gradient(135deg, #83e4e2 0%, #0cad8d 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: '';
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font: 900 1.5em/1 'Montserrat';
    justify-content: flex-end;
    padding: 0.125em 0.25em;
    z-index: 1;
}
ol.gradient-list > li:nth-child(10n+1):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+2):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+3):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+4):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+5):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 1) 0%, rgba(253, 220, 50, 1) 100%);
}
ol.gradient-list > li:nth-child(10n+6):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.8) 0%, rgba(253, 220, 50, 0.8) 100%);
}
ol.gradient-list > li:nth-child(10n+7):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.6) 0%, rgba(253, 220, 50, 0.6) 100%);
}
ol.gradient-list > li:nth-child(10n+8):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.4) 0%, rgba(253, 220, 50, 0.4) 100%);
}
ol.gradient-list > li:nth-child(10n+9):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0.2) 0%, rgba(253, 220, 50, 0.2) 100%);
}
ol.gradient-list > li:nth-child(10n+10):before {
    background: linear-gradient(135deg, rgba(12, 173, 141, 0) 0%, rgba(253, 220, 50, 0) 100%);
}
ol.gradient-list > li + li {
    margin-top: 2rem;
}